In [3]:
sqlContext

In [4]:
parquet = sqlContext.read.parquet(
    "hdfs://ip-172-31-27-198/user/ubuntu/day_BCSD_historical_r1i1p1_IPSL-CM5A-LR_1997.parquet")
parquet.registerTempTable("parquet")

In [5]:
parquet.show()

+-------+-----+---------+------------+---+---------+---------+
|    lat|  lon|     time|       model| pr|   tasmin|   tasmax|
+-------+-----+---------+------------+---+---------+---------+
|-89.625|0.375|849096000|IPSL-CM5A-LR|0.0|  271.062|273.07544|
|-89.625|0.625|849096000|IPSL-CM5A-LR|0.0|271.07523|273.08545|
|-89.625|0.875|849096000|IPSL-CM5A-LR|0.0| 271.0985|273.05838|
|-89.625|1.125|849096000|IPSL-CM5A-LR|0.0|271.10892|273.04404|
|-89.625|1.375|849096000|IPSL-CM5A-LR|0.0|271.11066|273.04037|
|-89.625|1.625|849096000|IPSL-CM5A-LR|0.0| 271.1192|273.00937|
|-89.625|1.875|849096000|IPSL-CM5A-LR|0.0|271.12167|272.97113|
|-89.625|2.125|849096000|IPSL-CM5A-LR|0.0|271.09567|272.96274|
|-89.625|2.375|849096000|IPSL-CM5A-LR|0.0|271.03177| 272.9883|
|-89.625|2.625|849096000|IPSL-CM5A-LR|0.0|270.97952|273.00665|
|-89.625|2.875|849096000|IPSL-CM5A-LR|0.0|270.96497|273.01193|
|-89.625|3.125|849096000|IPSL-CM5A-LR|0.0|270.94412|273.02158|
|-89.625|3.375|849096000|IPSL-CM5A-LR|0.0|270.91867|273.03134|
|-89.625|3.625|849096000|IPSL-CM5A-LR|0.0| 270.9238|273.01562|
|-89.625|3.875|849096000|IPSL-CM5A-LR|0.0|270.94177|272.99548|
|-89.625|4.125|849096000|IPSL-CM5A-LR|0.0| 270.9157|273.00742|
|-89.625|4.375|849096000|IPSL-CM5A-LR|0.0|270.85223|  273.033|
|-89.625|4.625|849096000|IPSL-CM5A-LR|0.0|270.80942|273.05368|
|-89.625|4.875|849096000|IPSL-CM5A-LR|0.0| 270.8066|273.05374|
|-89.625|5.125|849096000|IPSL-CM5A-LR|0.0|270.80066|273.05783|
+-------+-----+---------+------------+---+---------+---------+
only showing top 20 rows

In [50]:
parquet_count = parquet.count()
parquet_count

376609324

### Create Dataframe
Pull out 'month' and 'year' from timestamp and make them available as columns.  Also exclude any datapoints that do not have valid values for pr, tasmin or tasmax.

In [6]:
sql = """
SELECT lat, lon, time, model, pr, tasmin, tasmax, MONTH(from_unixtime(time)) as month, YEAR(from_unixtime(time)) as year
FROM parquet
WHERE pr < 1.0E20 AND tasmin < 1.0E20 AND tasmax < 1.0E20
"""
df = sqlContext.sql(sql)

In [7]:
df.show()

+-------+-----+---------+------------+---+---------+---------+-----+----+
|    lat|  lon|     time|       model| pr|   tasmin|   tasmax|month|year|
+-------+-----+---------+------------+---+---------+---------+-----+----+
|-89.625|0.375|849096000|IPSL-CM5A-LR|0.0|  271.062|273.07544|   11|1996|
|-89.625|0.625|849096000|IPSL-CM5A-LR|0.0|271.07523|273.08545|   11|1996|
|-89.625|0.875|849096000|IPSL-CM5A-LR|0.0| 271.0985|273.05838|   11|1996|
|-89.625|1.125|849096000|IPSL-CM5A-LR|0.0|271.10892|273.04404|   11|1996|
|-89.625|1.375|849096000|IPSL-CM5A-LR|0.0|271.11066|273.04037|   11|1996|
|-89.625|1.625|849096000|IPSL-CM5A-LR|0.0| 271.1192|273.00937|   11|1996|
|-89.625|1.875|849096000|IPSL-CM5A-LR|0.0|271.12167|272.97113|   11|1996|
|-89.625|2.125|849096000|IPSL-CM5A-LR|0.0|271.09567|272.96274|   11|1996|
|-89.625|2.375|849096000|IPSL-CM5A-LR|0.0|271.03177| 272.9883|   11|1996|
|-89.625|2.625|849096000|IPSL-CM5A-LR|0.0|270.97952|273.00665|   11|1996|
|-89.625|2.875|849096000|IPSL-CM5A-LR|0.0|270.96497|273.01193|   11|1996|
|-89.625|3.125|849096000|IPSL-CM5A-LR|0.0|270.94412|273.02158|   11|1996|
|-89.625|3.375|849096000|IPSL-CM5A-LR|0.0|270.91867|273.03134|   11|1996|
|-89.625|3.625|849096000|IPSL-CM5A-LR|0.0| 270.9238|273.01562|   11|1996|
|-89.625|3.875|849096000|IPSL-CM5A-LR|0.0|270.94177|272.99548|   11|1996|
|-89.625|4.125|849096000|IPSL-CM5A-LR|0.0| 270.9157|273.00742|   11|1996|
|-89.625|4.375|849096000|IPSL-CM5A-LR|0.0|270.85223|  273.033|   11|1996|
|-89.625|4.625|849096000|IPSL-CM5A-LR|0.0|270.80942|273.05368|   11|1996|
|-89.625|4.875|849096000|IPSL-CM5A-LR|0.0| 270.8066|273.05374|   11|1996|
|-89.625|5.125|849096000|IPSL-CM5A-LR|0.0|270.80066|273.05783|   11|1996|
+-------+-----+---------+------------+---+---------+---------+-----+----+
only showing top 20 rows

In [51]:
df_count = df.count()
df_count

376605004

Percent of cells excluded due to missing values

In [54]:
((df_count - parquet_count) / float(parquet_count)) * 100

-0.001147077282664409

Make sure we've actually removed missing values (encoded as 1.0E20)

In [8]:
df.select("pr", "tasmin", "tasmax").agg({"pr": "max", 
                                     "tasmin": "max", 
                                     "tasmax": "max"}).show()

+-----------+-----------+------------+
|max(tasmin)|max(tasmax)|     max(pr)|
+-----------+-----------+------------+
|  310.95816|  322.88812|0.0056666597|
+-----------+-----------+------------+

Growing region is assumed to be April 1st through October 31st in the Northern Hemisphere,  and October 1st through April 30th in the Southern Hemisphere

In [11]:
grow_season = df.select("*")\
              .where(((df.lat >= 0.0) & (df.month >= 4) & (df.month <= 10)) |
                     ((df.lat < 0.0) & (df.month <= 4) & (df.month >= 10)))

In [15]:
gs_count = grow_season.count()
gs_count

110856640

Percent decrease of data due to filtering on grow season

In [16]:
((gs_count - df_count ) / float(df_count)) * 100

-70.56421480793708

In [25]:
grow_season.persist()

DataFrame[lat: float, lon: float, time: bigint, model: string, pr: float, tasmin: float, tasmax: float, month: int, year: int]

In [30]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType, FloatType

def _k_to_f(k):
    return ((k - 273.15) * 1.8) + 32.0

def _avg_tmp_f(_min, _max):
    return (_k_to_f(_min) + _k_to_f(_max)) / 2.0

avg_tmp_f = udf(_avg_tmp_f, FloatType())

In [26]:
grow_season = grow_season.withColumn('f_tasavg', avg_tmp_f(df.tasmin, df.tasmax))
grow_season.show()

+-----+-----+---------+------------+------------+---------+---------+-----+----+---------+
|  lat|  lon|     time|       model|          pr|   tasmin|   tasmax|month|year| f_tasavg|
+-----+-----+---------+------------+------------+---------+---------+-----+----+---------+
|0.125|0.375|859896000|IPSL-CM5A-LR| 7.648604E-5|293.99588|294.51733|    4|1997| 69.99189|
|0.125|0.625|859896000|IPSL-CM5A-LR| 7.515501E-5| 293.9915|294.52817|    4|1997| 69.99769|
|0.125|0.875|859896000|IPSL-CM5A-LR| 7.382399E-5| 293.9925|294.52426|    4|1997| 69.99508|
|0.125|1.125|859896000|IPSL-CM5A-LR|  4.55957E-5| 293.9917|294.52222|    4|1997| 69.99252|
|0.125|1.375|859896000|IPSL-CM5A-LR|4.4758526E-5| 293.9889|294.52194|    4|1997| 69.98975|
|0.125|1.625|859896000|IPSL-CM5A-LR|4.3921355E-5| 293.9902|294.50815|    4|1997|69.978516|
|0.125|1.875|859896000|IPSL-CM5A-LR|4.3084186E-5|293.99295|294.48712|    4|1997| 69.96207|
|0.125|2.125|859896000|IPSL-CM5A-LR|4.5778543E-5|293.98972| 294.4758|    4|1997| 69.94897|
|0.125|2.375|859896000|IPSL-CM5A-LR| 4.487139E-5|293.97952|294.47028|    4|1997| 69.93482|
|0.125|2.625|859896000|IPSL-CM5A-LR| 4.396424E-5|293.98038| 294.4716|    4|1997| 69.93677|
|0.125|2.875|859896000|IPSL-CM5A-LR|4.3057084E-5|293.99423|294.47867|    4|1997| 69.95561|
|0.125|3.125|859896000|IPSL-CM5A-LR| 4.573757E-5| 294.0066|294.48755|    4|1997|69.974724|
|0.125|3.375|859896000|IPSL-CM5A-LR|4.4753207E-5|294.01797|  294.497|    4|1997|69.993484|
|0.125|3.625|859896000|IPSL-CM5A-LR| 4.376884E-5| 294.0429| 294.5107|    4|1997| 70.02826|
|0.125|3.875|859896000|IPSL-CM5A-LR| 4.329148E-5|294.06796| 294.5163|    4|1997| 70.05583|
|0.125|4.125|859896000|IPSL-CM5A-LR| 4.535448E-5|294.07797|294.50967|    4|1997| 70.05888|
|0.125|4.375|859896000|IPSL-CM5A-LR|4.5385514E-5|294.08084| 294.5132|    4|1997| 70.06465|
|0.125|4.625|859896000|IPSL-CM5A-LR|4.5416542E-5| 294.2755| 294.7154|    4|1997|70.421814|
|0.125|4.875|859896000|IPSL-CM5A-LR| 4.544757E-5|294.66672| 295.1113|    4|1997| 71.13021|
|0.125|5.125|859896000|IPSL-CM5A-LR| 7.576151E-5|295.05615| 295.5093|    4|1997| 71.83891|
+-----+-----+---------+------------+------------+---------+---------+-----+----+---------+
only showing top 20 rows

In [29]:
grow_season.where(grow_season.f_tasavg > 50.0).count()

60415559

In [37]:
# https://en.wikipedia.org/wiki/Winkler_scale
def _winkler_scale(d):
    if d <= 2500:
        return 1
    elif d >= 2501 and d <= 3000:
        return 2
    elif d >= 3001 and d <= 3500:
        return 3
    elif d >= 3501 and d <= 4000:
        return 4
    elif d > 4000:
        return 5

def _degree_days(temp):
    dd = int(temp - 50.0)
    return 0 if dd <= 0 else dd

degree_days = udf(_degree_days, IntegerType())
winkler_scale = udf(_winkler_scale, IntegerType())

### Calculate the degree days
Group By year, latitude, longitude and sum the calculated dgree days

In [38]:
dd = grow_season.withColumn("degree_days", degree_days(grow_season.f_tasavg))\
        .groupBy(df.year, df.lat, df.lon).agg({"degree_days": "sum"})\
        .withColumnRenamed("sum(degree_days)", "degree_days")

Exclude locations with less than 1 degree day

In [56]:
DEGREE_DAY_THRESHOLD = 1
dd = dd.where(dd.degree_days >= DEGREE_DAY_THRESHOLD)

In [57]:
dd.show()

+----+-----+-------+-----------+
|year|  lat|    lon|degree_days|
+----+-----+-------+-----------+
|1997|0.125|  2.125|       3200|
|1997|0.125|  8.125|       5863|
|1997|0.125| 14.375|       5902|
|1997|0.125| 22.125|       6335|
|1997|0.125| 28.375|       5681|
|1997|0.125| 34.125|       5461|
|1997|0.125| 40.375|       7361|
|1997|0.125| 46.625|       3696|
|1997|0.125| 52.875|       3740|
|1997|0.125| 59.125|       3986|
|1997|0.125| 69.875|       4132|
|1997|0.125| 76.125|       4175|
|1997|0.125| 82.375|       4194|
|1997|0.125| 88.625|       4203|
|1997|0.125| 94.875|       4289|
|1997|0.125|101.125|       6938|
|1997|0.125|107.375|       6696|
|1997|0.125|113.625|       5528|
|1997|0.125|119.875|       6099|
|1997|0.125|126.125|       6618|
+----+-----+-------+-----------+
only showing top 20 rows

In [58]:
dd.count()

363817

In [59]:
pdd = dd.withColumn("winkler", winkler_scale(dd.degree_days)).toPandas()

In [60]:
len(pdd)

363817

In [61]:
pdd

        year     lat      lon  degree_days  winkler
0       1997   3.125   96.375         6653        5
1       1997   3.125  102.625         6602        5
2       1997   3.125  108.875         6806        5
3       1997   3.125  115.125         4584        5
4       1997   3.125  121.375         4942        5
5       1997   3.125  127.625         6628        5
6       1997   3.125  130.375         5007        5
7       1997   3.125  136.625         4475        5
8       1997   3.125  142.875         4467        5
9       1997   3.125  149.125         4389        5
10      1997   3.125  155.375         4404        5
11      1997   3.125  161.625         4499        5
12      1997   3.125  167.875         4377        5
13      1997   3.125  174.125         4444        5
14      1997   3.125  180.375         4329        5
15      1997   3.125  186.625         4251        5
16      1997   3.125  192.875         4157        5
17      1997   3.125  199.125         4339        5
18      1997   3.125  205.375         4040        5
19      1997   3.125  211.625         3882        4
20      1997   3.125  217.875         3800        4
21      1997   3.125  224.125         3691        4
22      1997   3.125  230.375         3594        4
23      1997   3.125  236.625         3557        4
24      1997   3.125  242.875         3561        4
25      1997   3.125  249.125         3503        4
26      1997   3.125  255.375         3414        3
27      1997   3.125  257.875         3425        3
28      1997   3.125  264.125         3534        4
29      1997   3.125  270.375         3888        4
...      ...     ...      ...          ...      ...
363787  1997  74.875  112.625           31        1
363788  1997  75.125   90.875           17        1
363789  1997  75.125   97.125          131        1
363790  1997  75.125  103.375          108        1
363791  1997  75.125  109.625           42        1
363792  1997  75.125  138.125            7        1
363793  1997  75.375   94.125           23        1
363794  1997  75.375  100.375          121        1
363795  1997  75.375  106.625           58        1
363796  1997  75.375  112.875           63        1
363797  1997  75.375  138.375           12        1
363798  1997  75.625   97.375           42        1
363799  1997  75.625  103.625           69        1
363800  1997  75.625  109.875            9        1
363801  1997  75.625  138.625           14        1
363802  1997  75.875   94.375            4        1
363803  1997  75.875  100.625           75        1
363804  1997  75.875  106.875           17        1
363805  1997  75.875  113.125           49        1
363806  1997  76.125   97.625            1        1
363807  1997  76.125  103.875           46        1
363808  1997  76.125  110.125            8        1
363809  1997  76.375   62.125            1        1
363810  1997  76.375  100.875           12        1
363811  1997  76.375  107.125           19        1
363812  1997  76.375  113.375           37        1
363813  1997  76.625  104.125           23        1
363814  1997  76.625  110.375           22        1
363815  1997  76.875  107.375            2        1
363816  1997  77.125  104.375           27        1

[363817 rows x 5 columns]

In [62]:
pdd.groupby("winkler").size()

winkler
1    157663
2     19846
3     22979
4     41634
5    121695
dtype: int64

In [63]:
pdd.to_csv("/home/ubuntu/winkler_scale_IPSL-CM5A-LR_1997.csv")